* {
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

/* =-------------------- NAVBAR --------------------- */
#navbar .navbar-brand {
  color: #ffffff;
}
#navbar .nav-link {
  color: #ffff;
  font-size: 20px;
}
#navbar .navbar-nav a:hover {
  color: #a1cffa;
}
#navbar .dropdown-menu li a{
 color: rgba(243, 237, 237, 0.986);
}
#navbar .dropdown-menu li a:hover{
 color: rgba(8, 8, 8, 0.986);
}


/* ---------------- HOME ------------------ */
#home{
  margin-top: 170px;
  height: 100vh;
}
#home .home {
  height: 100vh;
  margin-top: -170px;
  padding-top: 12rem;
  /* background-color: #473737; */
  background-image: url('../img/bg-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.home h2 {
  margin-top: 30px;
}

/* ------------------ ABOUT ------------- */
#about {
  background-image: url('../img/bg-biru.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  padding-top: 200px;
}

#about h4 {
  text-indent: 70px;
  text-align: justify;
}


/* --------------------------- PROJECT ---------------------*/
#project{
  padding-top: 50px;
  height: 100vh;
  background-color: #a1cffa;
  font-size: 13px;
}
#project h4{
  color: black;
  font-weight: bold;
}

#project .tableproject{
  box-sizing: border-box;
  border-radius: 7px;
  background-color: #fcfcfc;
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-left: 7px;
}

table{
  width: 100%;
}

#project table th{
background-color: #f7f3f3;
}

#project table td{
  background-color: #ffffff;
}

#project table td, th{
  padding: 10px 0px;
  text-align: left center;
}

#project .created{
  text-align: right;
  margin-top: 20px;
}
#project .created .c-by{
  color: #645e5e;
}
#project .created .c-name{
  margin-top: -15px;
  font-weight: bold;
}




/*------------------------- EDIT-TAMBAH -------------------  */
#edit-tambah{
  /* background-color: #6e6767; */
  background-image: url('../img/bg-biru.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
}

#edit-tambah h3, label{
  color: white;
}

#edit-tambah .form-control{
  width: 100%;
  /* background: rgb(102, 94, 94); */
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  color: black;
}

#edit-tambah .btn{
  text-decoration: none;
  color: white;
}


/* ---------------- FOOTER --------------- */

