* {
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

/* =-------------------- NAVBAR --------------------- */
#navbar{
  background-color: #000000;
}
#navbar .navbar-brand {
  font-weight: bolder;
  color: #ffffff;

}
#navbar .navbar-nav a{
  margin: 0 5px;
  padding: 0 20px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 5px #000000;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 30px;

}
#navbar .navbar-nav a:hover {
  color: #020202;
  background-color: #54afe4;
  box-sizing: border-box;
  border-radius: 30px;
  transition: 1.5s;
  text-decoration: none;
}


/* ---------------- HOME ------------------ */
#home{
  background-image: url('../img/bg-biru.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.home-right, .home-left{
  padding: 50px 50px;
  padding-bottom: 20px;
  height: 100vh;
}

        /*+++++ HOME_RIGHT ++++++ */

.home-left h1{
  padding-top: 150px;
  font-weight: bolder;
  color: #f7f3f3;
  text-shadow: 3px 3px #000000;
  font-size: 70px;
}
.home-left h2{
  font-weight: bolder;
  color: #f7f3f3;
  text-shadow: 3px 3px #000000;
}
.home-left p{
  margin-top: 30px;
  font-weight: bold;
  text-align: justify;
}

.home-right img{
  margin-left: 80px;
  padding-top: 150px;
  text-align: center;
  width: 300px;
}

/* ------------------ ABOUT ------------- */
#about {
  background-image: url('../img/bg-biru.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 150px ;
}

#about .about-content{
  height: 100%;
}

#about h1{
  color: #ffffff;
  text-shadow: 3px 3px #000000;
}

#about h4 {
  color: #ffffff;
  font-weight: bold;
  text-indent: 70px;
  text-align: justify;
  text-shadow: 1px 1px #000000;

}


/* --------------------------- PROJECT ---------------------*/
#project{
  height: 100%;
  background-color: #a1cffa;
  font-size: 13px;
  padding-bottom: 20px;
}
#project h4{
  padding-top: 40px;
  color: black;
  font-weight: bold;
}

#project .tableproject{
  box-sizing: border-box;
  border-radius: 7px;
  background-color: #fcfcfc;
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-left: 7px;
}

table{
  width: 100%;
}

#project table th{
background-color: #f7f3f3;
}

#project table td{
  background-color: #ffffff;
}

#project table td, th{
  padding: 10px 0px;
  text-align: left center;
}

#project .created{
  text-align: right;
  margin-top: 20px;
}
#project .created .c-by{
  color: #645e5e;
}
#project .created .c-name{
  margin-top: -15px;
  font-weight: bold;
}




/*------------------------- EDIT-TAMBAH -------------------  */
#edit-tambah{
  /* background-color: #6e6767; */
  background-image: url('../img/bg-biru.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
}

#edit-tambah h3, label{
  color: white;
}

#edit-tambah .form-control{
  width: 100%;
  /* background: rgb(102, 94, 94); */
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  color: black;
}

#edit-tambah .btn{
  text-decoration: none;
  color: white;
}


/* ---------------- FOOTER --------------- */

